[Unit]
Description=Teknika for RemotiveBroker (%i)
After=network.target

[Service]
EnvironmentFile=/etc/teknika/%i
ExecStart=@TEKNIKABIN@ -p ${PORT}
Restart=always

[Install]
WantedBy=multi-user.target
